body {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

.square {
    width: 20px;
    height: 20px;
}

.btn {
    font-family: 'Roboto Mono', monospace;
    padding: .75em;
    border-radius: 5em;
    border: 2px solid whitesmoke;
    background-color: silver;
    color: white;
    cursor: pointer;
}

.snake {
    background: green;   
}

.apple {
    background: red;
}

.game-over {
    display: none;
}